
.table-wrap {
    border-radius: 15px;

    max-width: 900px;
    overflow-x: auto;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

}

table, td, th {
    text-align: left;
    font-size: 18px;
}

td {
    font-size: 15px;
}

table thead tr {
    background: linear-gradient(to left, #DFB7E3, #B5C7E7);
    color: black;
}

table {
    border-collapse: collapse;
}


th, td {
    padding: 15px;
    white-space: nowrap;
}

table tbody tr:nth-child(odd) {
    background: #b4b4b442;
    color: #000;
    font-weight: 500;
}

.icons {
    margin-top: 10px;
    margin-left: 5px;
}

.button {
    padding: 10px 30px 10px 30px; 
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #ccc;
    transition: .4s;
}
.input {
    background-color: #eee;
    border: none;
    border-left: #DFB7E3 solid 1px;
    padding: 10px;
    border-bottom: #DFB7E3 solid 1px;
}
@media screen and (max-width: 338px) {
.table-wrap{
    max-width: 300px;
}
.table, td, th {
    font-size: 10px;
}
th, td {
    padding: 7px;
    white-space: nowrap;
}
.button {
    padding: 5px 15px 5px 15px; 
    border-radius: 1px;
    margin-bottom: 5px;
    font-size: 10px;
}
.employee{
    font-size: 12px;
}
.input{
    padding: 5px;
}
}
