
#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    min-height: 400px;
    min-width: 300px;
    background-color: white;
    overflow: hidden;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.input {
    background-color: #eee;
    border: none;
    border-left: #DFB7E3 solid 1px;
    padding: 10px;
    border-bottom: #DFB7E3 solid 1px;
}

.top {
    background-color: #c4d3ec;
    background: linear-gradient(to left, #DFB7E3, #B5C7E7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 0 0 75px 75px;
    margin-bottom: 30px;
}

.top:hover {
    transition: .4s;
    border-radius: 0;
    width: 100%;
}

.top:not(:hover) {
    transition: .4s;
    border-radius: 0 0 75px 75px;
    width: 97%;
}

.top h1 {
    color: white;
    font-size: 40px;
}



.button {
    padding: 10px 30px 10px 30px; 
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #ccc;
    transition: .4s;
}


.signup {
    cursor: pointer;
    color: blue;
    text-decoration: none;
    font-size: 12px;
}

